<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p id="demo"></p>
    <p id="demo2"></p>

    <script>
      //getElementById is a method, while innerHTML is a property.
      //It targets a single HTML element. We pass the id without # as an argument.

      document.getElementById("demo").innerHTML = "Hello Hello!";
      document.getElementById("demo2").innerHTML = "Hello Hey!";
    </script>
  </body>
</html>
