<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      //Variables declared inside a { } block can be accessed from outside the block.

      {
        let X = 15;
        console.log(X);
      }
      // console.log(X)
      // it will show an error

      // in 'Var' keyword it can be accessed from out of the block scope

      {
        var Y = 20;
        console.log(Y);
      }
      console.log(Y); // it will print the output
    </script>
  </body>
</html>
