<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      //A variable declared as local can be accessed only in certain block code

      function myFunction() {
        let firstName = "Krishna";
        console.log(firstName);
      }
      myFunction();
    </script>
  </body>
</html>
